* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

form, fieldset {
    border: 0;
}

input {
    outline: 0;
}

a, a:link {
    text-decoration: none;
    color: inherit;
}
.d-none {
    display: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
